# Python
__pycache__/
*.pyc
.venv/
.venv*/
venv/
venv*/

# Editor/IDE
.vscode/
.idea/

# Env / secrets
.env
.env.* 
secrets.yml

# Docker
docker-compose.override.yml
*.log
minio-data/
*.sqlite3

# OS
.DS_Store
Thumbs.db
